.cotti {
    height: 35svh;
}

.fwwt {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}

.fwwter {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

.cotoy {
    font-weight: 700;
}

.cotoya {
    font-weight: 500;
}

.cortr {
  font-size: 24px;
}