 .hero-section {
          background-color: #f8f9fa;
          color: #343a40;
        }
        .hero-section h1 {
          font-size: 3rem;
          line-height: 1.2;
          font-weight: 800;
        }
        .hero-section p {
          font-size: 1.25rem;
        }
        .hero-section img {
          max-width: 100%;
          height: auto;
        }
        .croor {
          text-transform: uppercase;
          font-weight: 800;
        }
        @media (max-width: 767.98px) {
          .hero-section h1 {
            font-size: 2rem;
          }
          .hero-section p {
            font-size: 1rem;
          }
        }